@charset "utf-8";
/* CSS Document */

/*BREAKPOINTS*/
@media (max-width:1200px) {
    /*HEADER*/
    header {
        flex-direction: column;
        position: inherit;
        padding: 20px;
    }
    header img {
        width: 500px;
        margin:20px 50px 50px 80px;
    }
    header ul {
        margin-bottom: 20px;
    }
    header li a {
        font-size:2rem;
    }
    /*BANNER*/
    .fitness {
        background-position: initial;
        min-height: 80vh;
    }
    .fitness h1 {
        font-size: 6rem;
        margin: 10px;
    }
    .fitness h2 {
        font-size: 3rem;
        margin: 10px;
    }
    .fitness h3 {
        font-size: 2.3rem;
        margin: 10px;
    }
    /*BOTAO VOLTAR AO TOPO*/
    a.top {
        font-size: 50px;
        width: 80px;
        border-radius: 50px;
    }
    /*ASSESSORIA*/
    .imagens {
        padding: 50px;
    }
    .imagens hr {
        width: 300px;
    }
    .imagens .imgs li {
        height: 450px;
    }
    .imagens .imgs li.menor, .imagens .imgs li.maior {
        flex-basis: 100%;
    }
    .imagens .imgs li.musc {
        background-position: top;
    }
    .imagens .imgs li h2 {
        font-size: 2rem;
    }
    /*ESCOLINHA*/  
    .escola {
        padding: 20px 50px;
    }
    .escola h1 {
        margin: 10px 20px;
    }
    .escola .imgs li {
        height: 450px;
    }
    .escola .imgs li.menor, .escola .imgs li.maior {
        flex-basis: 100%;
    }
    .escola .imgs li h2 {
        font-size: 2rem;
    }
    /*FT FITNESS*/
    .caracteristicas .grid { 
        flex-direction: column;
    }
    /*CONTATO*/   
    .contato form {
        width: 60%;
    }
    /*CONTATO2*/  
    .contato2 .grid { 
        flex-direction: column;
    }
    .contato2 .grid li i {
        margin-top: 70px;
    }
    .contato2 .grid li.clock {
        margin-bottom: 30px;
    }
    .contato2 .grid li.phone {
        margin-top: -30px;
    }
    /*RODAPÉ*/
    footer ul li a {
        font-size: 3.5rem;
    }
    footer p {
        font-size: 1rem;
    }
    footer ul li {
        margin-right: 50px;
    }
    footer ul li:last-child {
        margin-right: 0;
    }
}
