@charset "utf-8";
/* CSS Document */

/*BREAKPOINTS*/
@media screen and (max-width:850px) {
    .fitness {
        background-position: initial;
        min-height: 90vh;
    }
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 30px;
    }
    .imagens {
        padding: 50px;
    }
    .imagens h1 {
        font-size: 2rem;
    }
    .imagens hr {
        width: 400px;
    }
    .imagens .imgs li.menor,   .imagens .imgs li.maior {
        flex-basis: 100%;
    }
    .imagens .imgs li.musc {
        background-position: top;
    }
    .imagens .imgs li h2 {
        font-size: 2rem;
    }
    .caracteristicas .grid { 
        flex-direction: column;
    }   
    .contato form {
        width: 70%;
    }
}
@media screen and (max-width:600px) {
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 30px;
    }
    .fitness h1 {
        font-size: 3rem;
    }
    .fitness h2 {
        font-size: 1.5rem;
    }
    .fitness h3 {
        font-size: 1.7rem;
    }
    .imagens {
        padding: 50px;
    }
    .imagens h1 {
        font-size: 1.5rem;
    }
    .imagens hr {
        width: 300px;
    }
    .imagens .imgs li.menor,   .imagens .imgs li.maior {
        flex-basis: 100%;
    }
    .imagens .imgs li.musc {
        background-position: top;
    }
    .imagens .imgs li h2 {
        font-size: 2rem;
    }
    .caracteristicas .grid { 
        flex-direction: column;
    }   
    .contato form {
        width: 80%;
    }
    .contato h3 {
        font-size: 2rem;
    }
    .caracteristicas h1 {
        font-size: 1.8rem;
    }
    .caracteristicas p {
        font-size: 1.5rem;
    }
}