@charset "utf-8";
/* CSS Document */

/*BREAKPOINTS*/
@media (max-width:600px) {
    header img {
        width: 400px;
    }
    header li a {
        font-size:20px;
    }
    header {
        flex-direction: column;
    }
    .fitness h1 {
        font-size: 3rem;
    }
    .fitness h2 {
        font-size: 1.5rem;
    }
    .fitness h3 {
        font-size: 1.5rem;
        margin: 0 40px;
    }
    .imagens h1 {
        font-size: 1.5rem;
        margin-top: 100px;
    }
    .imagens hr {
        width: 300px;
    }
    .caracteristicas .grid { 
        flex-direction: column;
    }   
    .contato form {
        width: 80%;
    }
    .contato h3 {
        font-size: 2rem;
    }
}
@media (max-width:1200px) {
    header img {
        width: 400px;
    }
    header li a {
        font-size:20px;
    }
    header img {
        margin-bottom: 30px;
    }
    .contato form {
        width: 50%;
    }
    .fitness {
        background-position: initial;
        min-height: 80vh;
    }
    .imagens {
        padding: 50px;
    }
    .imagens h1 {
        font-size: 2rem;
    }
    .imagens hr {
        width: 400px;
    }
    .imagens .imgs li {
        height: 450px;
    }
    .imagens .imgs li.menor, .imagens .imgs li.maior {
        flex-basis: 100%;
    }
    .imagens .imgs li.musc {
        background-position: top;
    }
    .imagens .imgs li h2 {
        font-size: 2rem;
    }
    .caracteristicas .grid { 
        flex-direction: column;
    }   
    .contato form {
        width: 60%;
    }
}
