@charset "utf-8";
/* CSS Document */

/*FONTE*/
@font-face {font-family:'multicolore'; src:url(Multicolore.otf) format('truetype'); }

/*RESET*/
*{margin: 0; padding: 0; font-size: 100%; box-sizing:border-box; font-family: 'multicolore', sans-serif;}
nav, ul{list-style: none;}
button,  a{text-decoration: none; cursor: pointer; opacity: 0.9;}
button:hover, a:hover{opacity: 1;}
p, input, textarea, header {font-family: 'Josefin Sans', sans-serif;}

/*BODY*/
body {
    background-image: url(country-quilt-dark.png);
    font-family: 'multicolore', sans-serif;
    overflow-x: hidden;
}
/*HEADER*/
header {
	background-image: url(country-quilt-dark.png);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 100;
}
header img {
    width: 180px;
    font-family: 'multicolore', sans-serif;
}
header nav ul {
	display: flex;
}
header li a {
    color: #f7af0f;
    text-decoration:none;
    font-size:13px;
    text-transform:uppercase;
    padding:3px;
    font-weight: 400;
}
header li a:hover {
	color: #0686ef;
}
header li {
    margin: 0 20px;
}
header li:first-child {
    margin-left: 0;
}
header li:last-child {
    margin-right: 0;
}
/*JS*/
#nav a.active {color:#0686ef;}
#nav ul li a:active {color:#0686ef;}
/*BANNER*/
.fitness {
    background-image: url(777.jpg);
    background-size: cover;
    background-position: center;
    min-height: 115vh;
    color: #f7af0f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.fitness h1 { 
    font-size: 5rem;
    margin-bottom: 20px;
    margin-top: 150px;
    text-transform: uppercase;
    color: #0686ef;
}
.fitness h2 { 
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.fitness h3 { 
    font-size: 2rem;
    margin-bottom: 25px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
/*BOTAO VOLTAR AO TOPO*/
section.top {position: absolute;}
a.top {
    padding:10px;
    position:fixed;
    top: 85%;
    right:20px;
    display:none;
    font-size: 30px;
    color: #0686ef;
    background-color:rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 60px;
    border-radius: 30px;
    z-index: 200;
}
/*FT FITNESS*/
.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 50px 100px 50px;
}
.caracteristicas h1 {
    font-size: 3.2rem;
    margin: 20px 0 35px 0;
    color: #f7af0f;
    text-align: center;
    text-transform: uppercase;
}
.caracteristicas p {
    font-size: 2.8rem;
    color: #ccc;
    text-align: center;
    margin-bottom: 100px;
}
.caracteristicas .grid { 
    width: 100%;
    display: flex;
}
.caracteristicas .grid li {
    padding: 0 30px;
    text-align: center;
}
.caracteristicas .grid li i {
    color: #f7af0f;
    font-size: 50px;
    margin: 30px 0;
}
.caracteristicas .grid li h4 {
    font-style: 1.5rem;
    color: #0686ef;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.caracteristicas .grid li p {
    font-size: 1rem;
}
/*ASSESSORIA*/
.imagens {background-image: url(blackorchid.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.imagens h1 {
    font-size: 4rem;
    margin: 15px 0 35px 0;
    color: #0686ef;
    text-align: center;
}
.imagens hr {
    width: 500px;
    height: 1px;
    margin-bottom: 30px;
    background-color: #f7af0f;
    border: none;
}
.imagens p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: #ccc;
}
.imagens .imgs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imagens .imgs li {
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}
.imagens .imgs li h2 {
    color: #f7af0f;
    font-size: 1.5rem;
    opacity: 0.8;
    text-transform: uppercase;
    background-color: #000;
    padding: 5px 0;
}
.imagens .imgs li.menor {
    flex-basis: 40%;
}
.imagens .imgs li.maior {
    flex-basis: 60%;
}
.imagens .imgs li.spin {
    background-position: initial;
}
/*ESCOLINHAS*/
.escola {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 120px 120px;
}
.escola h1 {
    font-size: 3rem;
    margin: 35px 0 15px 0;
    color: #f7af0f;
    text-align: center;
}
.escola .imgs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.escola .imgs li {
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}
.escola .imgs li h2 {
    color: #0686ef;
    font-size: 1.5rem;
    opacity: 0.8;
    text-transform: uppercase;
    background-color: #000;
    padding: 5px 0;
}
.escola .imgs li.menor {
    flex-basis: 40%;
}
.escola .imgs li.maior {
    flex-basis: 60%;
}
.escola .imgs li.fut, .escola .imgs li.futsal {
    background-position: bottom;
}
.escola .imgs li.basq {
    background-position: top;
}
/*CONTATO*/
.contato {background-image: url(blackorchid.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
    width: 100%;
}
.contato h3 {
    font-size: 4rem;
    margin-bottom: 35px;;
    color: #0686ef;
    text-align: center;
    padding: 15px;
}
.contato form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    max-width: 800px;
    align-items: center;
    padding: 15px;
}
.contato input {
    padding: 15px;
    border: 2px solid #f7af0f;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
    opacity: 0.8;
}
.contato input.tel {
    width: 50%;
    align-self: baseline;
    margin-bottom: 25px;
}
.contato textarea {
    padding: 15px;
    border: 2px solid #f7af0f;
    border-radius: 4px;
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
    height: 200px;
    opacity: 0.8;
}
.contato button {
    padding: 20px;
    background-color: #0686ef;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    width: 30%;
    text-align: center;
    align-self: flex-end;
    margin: 15px 0;
}
/*CONTATO 2*/
.contato2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contato2 .grid { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}
.contato2 .grid li {
    padding: 0 80px;
    text-align: center;
}
.contato2 .grid li i {
    color: #f7af0f;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.contato2 .grid li p {
    text-align: center;
    color: #ccc;
    font-size: 0.9rem;
}
/*RODAPÉ*/
footer {
    background-image: url(blackorchid.png);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}
footer ul {
    display: flex;
    margin-top: 10px;
}
footer ul li {
    margin-right: 25px;
}
footer ul li:last-child {
    margin-right: 0;
}
footer ul li a {
    color: #0686ef;
    font-size: 1.8rem;
}
footer p {
    color:#ccc ;
    text-align: center;
    margin: 40px 0 10px 0;
    font-size: 0.9rem;
}


